
</div>
<div class="footer-padding"></div>
  <div class="footer">
    <p>Copyright © <%= new Date().getFullYear() %> <br>
    Made by <strong>Chinmayee Sharma</strong></p>
  </div>
</div>
</body>
</html>
