<%- include("partials/header.ejs") %>

<h1>About</h1>
<p> <%= aboutContent %> </p>

<h2>What We Offer</h2>
<ul>
    <li><strong>Informative Content:</strong> Whether you're a beginner or an expert, you'll find something here to inspire and educate.</li>
    <li><strong>Engaging Community:</strong> We value the connections we make with our readers. Join our community, share your thoughts, and be part of a conversation that matters.</li>
    <li><strong>Inspiration and Insight:</strong> We aim to provide not just information but also inspiration. Our content is designed to spark your imagination and encourage you to explore new horizons.</li>
</ul>

<p>Thank you for being a part of our journey. Together, we can continue 
    to learn, grow, and be inspired. We invite you to explore our blog and join us in the pursuit of knowledge and creativity.</p>

<h2>Who we are</h2>
<p>This Blog Website is made by Chinmayee Sharma. This website is made for the purpose of the hands-on experience on HTML, CSS, JS,
     Node.js, Express.js, EJS and MongoDB(Mongoose). In this website, the special focus is on the backend part. </p>


<%- include("partials/footer.ejs") %>
