<%- include("partials/header.ejs") %>

    <h1>Contact</h1>
    <p> <%= contactContent %> </p>
    <p>Github:<a href=" https://github.com/Chinmayee7697"> https://github.com/Chinmayee7697</a></p>

    <p>Thank you for visiting Daily Journal. We look forward to hearing 
        from you and fostering a dynamic, engaging, and collaborative community.
         Your thoughts and ideas matter, and we appreciate your support in our shared 
         journey of knowledge, inspiration, and creativity.</p>
<%- include("partials/footer.ejs") %>